body{
        background-color: #fff;
    }
.pay-rent {
    color: #555;
     align-items: center;
      display: flex;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 5px 10px;
      text-decoration: none;
    }

.btn-property {
      background-color: #009688;
      color: white;
    }

.btn-property:hover {
      background-color: #00796b;
    }

.highlight-box {
      background-color: #fff3cd;
      border-radius: 5px;
      padding: 10px 20px;
      display: inline-flex;
      align-items: center;
      gap: 15px;
    }

 .tabs-custom button {
      background: none;
      color: #666;
      border: none;
      font-size: 1.1rem;
      padding: 10px 20px;
      font-weight: 500;
      
    }

.tabs-custom .active {
      color: #d9234c;
      border-bottom: 3px solid #d9234c;
    }

.search-bar {
      border: 1px solid #ddd;
      border-radius: 6px;
      padding: 15px;
      background-color: #fff;
    }

.radio-group label {
      margin-right: 15px;
      font-weight: 500;
      color: #444;
    }

    .post-section {
      margin-top: 40px;
      text-align: center;
    }

    .post-section hr {
      width: 80px;
      display: inline-block;
      margin: 0 10px;
      color: #ccc;
    }

    .search-btn {
      background-color: #ff3c57;
      color: white;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }